#about{
  height: 100vh;
  padding: 2rem;
  margin-top: 7vh;
  border-radius: 10px;
}

#about h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Merriweather", serif;
    line-height: 1.5;
    transition: 0.2s ease;
}

#about span {
    color: black;
    padding: 0.05rem 0.5rem;
}

.highlight {
    overflow: hidden;
    background: linear-gradient(to left, #cceaf7 100%, transparent 0%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: bgReveal 1.5s ease-out forwards;
}

#adjective {
    transition: opacity 0.5s ease;
    white-space: nowrap;
}

    @keyframes bgReveal {
      0% {
        background-size: 0% 100%;
      }
      100% {
        background-size: 100% 100%;
      }
    }

@media screen and (max-width: 600px) {
}