#about{
  height: auto;
  padding: 2rem;
  margin-top: 22vh;
  margin-bottom: 10vh;
  border-radius: 10px;
}

#about h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Merriweather", serif;
    line-height: 1;
}

#about span {
    color: black;
    padding: 0.05rem 0.5rem;
}

.highlight {
    background: linear-gradient(to left, black 100%, transparent 0%);
    background-size: 0% 100%; /* Set initial state for JS animation */
    background-repeat: no-repeat;
}

#adjective {
    width: 15rem;
    transition: opacity 0.5s ease, width 0.5s ease;
    display: inline-block;
    text-align: center;
}

#intro {
    margin-bottom: 40vh;
}

#description {
    font-size: 1.2rem;
    margin-top: 0rem;
    display: grid;
    grid-template-columns: 1.5fr 0.1fr 1fr;
}


@media screen and (max-width: 600px) {
}