  .activities-container {
    position: relative;
    width: 100%;
    height: 110h;
    margin-bottom: 3vh;

    overflow-x: show;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    white-space: nowrap;

    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;

    user-select: none;
    cursor: pointer;
    z-index: 0;
  }

  .activities-container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .activity {
    display: inline-block;
    width: 80%;
    height: 80vh;
    margin: 2em 1em;
    scroll-snap-align: center;
    transition: all 0.2s;
    cursor: pointer;
    z-index: 0;
    border: 1px solid gray;
    border-radius: 10px;
  }
