.grid-container {
  background: white;
}

  .items {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

.item1 ,.item3, .item5, .item7, .item9 {
  background-color: aqua;
}

.item2 ,.item4, .item6, .item8, .item10 {
  background-color: red;
}

  .item {
    display: inline-block;
    width: 80%;
    height: 100vh;
    margin: 2em 1em;
    scroll-snap-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }
