#contact {
    height: 20vh;
    background-color: rgb(255 255 255 / 60%); /* Te 50% is the opacity */
    backdrop-filter: blur(10px); /* Adds a blur effect to the background */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-item {
    padding-top: 2vh;
}