html {
  scroll-behavior: smooth;
}
body {
  font-family: "Merriweather", serif; 
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  overflow-y: auto;
  transition: 0.4s ease;
}

footer {
  text-align: center;
  margin-top: 5rem;
  font-size: 0.9rem;
  color: gray;
}