html {
  /* This is for when you click on the hyperlink you get smooth scrolling */
  scroll-behavior: smooth;
}
body {
  font-family: "Merriweather", serif; 
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  overflow-y: auto;
  transition: 0.4s ease;
}